<!-- Title for the ion view -->
<ion-view title="Feeds">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content feed">

    <!-- ======================
    SEARCH FORM - STANDARD IONIC MARKUP
    ====================== -->  
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search package">
      </label>
    </div>
    <!-- ======================
    /END SEARCH FORM
    ====================== -->

    <ion-list ng-repeat="pk in packages">
      <!-- ======================
      POST - image only
      ====================== --> 
      <div class="news-media">
        <img src="img/gemionic/news-image.jpg" alt="" class="fluid-image">
        <div class="media-social-stats">
          <button ng-show="profile.subscriptions[pk.$id]" class="button button-small button-borderless button-positive"><i class="icon ion-heart"></i></button>

          <button ng-show="!profile.subscriptions[pk.$id]" ng-click="subscribe(pk.$id)"
          class="button button-small"><i class="icon ion-heart balanced"></i></button>
        </div>
      </div>
      
      <!-- ======================
      POSTER - profile thumb, name and post stats
      ====================== --> 
      <div class="news-item">
        <div class="news-thumb">
          <img src="img/gemionic/post-img.jpg" alt="" class="img">
        </div>
        <div class="news-content">
          <h4>{{pk.name}}</h4>
          <div class="gem-tiny-text news-item-stats">
            <i class="icon ion-ios-home"></i> {{pk.farm[0]}}
            <span class="news-comment-summary">
              <i class="icon ion-heart"></i> 2 
              <i class="icon ion-chatbubble"></i> 3
            </span>
          </div>
        </div>
        <div class="news-more-action">
          <i class="icon ion-more"></i>
        </div>
      </div>

    </ion-list>
    <!-- ======================
    /END POSTER
    ====================== --> 
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
