<div>
<ion-view title="Pak">
  <ion-content>
    <form class="gem-form">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit"  ng-click="doLogin()" >Log in</button>
        </label>
        <div class="text-center padding">
          <div class="padding">Not yet registered?</div>
          <button class="button button-positive" type="submit" ng-click="goto('app.signup')">Sign up</button>
        </div>

        <div class="text-center padding">
          <button class="button button-positive"ng-click="registerFB()">Login with fb</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>

